@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: var(--BG-Shade, #f5fcff);
}

.navbar {
  background-color: #fff;
}

.profile-picture {
  width: 100%;
  max-width: 300px;
}

.welcome-text {
  color: var(--Heading-color, #0f0f10);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15.333px;

  font-weight: 10;
  line-height: 10%;
}

.design-text {
  color: var(--Heading-color, #282938);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 80%;
}
.nav-link:hover {
  color: #5e3bee;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    background: #3498db;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .navbar-toggler {
    color: #fff;
  }

  .navbar-toggler-icon {
    background-color: #fff;
  }
}
